h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

.exercise,
.vocabulary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid rgb(212, 255, 192);
    border-radius: 20px;
    margin: 5% 0;
    padding: 5%;
}

.vocabulary h3 {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
}

input,
textarea {
    border: none;
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    color: rgb(212, 255, 192)
}

input {
    border-bottom: 2px solid rgb(212, 255, 192);
    margin-bottom: 2%;
}

p {
    filter: blur(4px);
    font-size: 18px;
}

p:hover {
    filter: blur(0);
}

body {
    background-color: rgb(43, 43, 43);
    color: rgb(238, 194, 255)
}