section {
    display: flex;
}

.exercise,
.vocabulary {
    flex-direction: column;
    padding-right: 50px;
}

input,
textarea {
    border: none;
    border-bottom: 2px solid rgb(212, 255, 192);
    width: 90%;
    font-size: 18px;
    background-color: transparent;
    color: rgb(212, 255, 192)
}

textarea {
    border: 2px solid rgb(212, 255, 192);
}

p {
    filter: blur(4px);
    font-size: 18px;
}

p:hover {
    filter: blur(0);
}

body {
    background-color: rgb(43, 43, 43);
    color: rgb(238, 194, 255)
}